
* {
    box-sizing: border-box;
}

body {
    margin: auto;
    font-family: Inter, sans-serif;
    background: linear-gradient(36deg,rgba(250, 214, 207, 1) 0%, rgba(255, 238, 207, 1) 100%);
}
/* linear-gradient(1deg,rgba(255, 255, 255, 1) 50%, rgba(208, 237, 245, 1) 100%); */
header {
    background: linear-gradient(36deg,rgba(250, 214, 207, 1) 0%, rgba(255, 238, 207, 1) 100%);
    justify-content: space-between;
}

h1 {
    font-family: Inter;
    font-weight: 300;
}

img {
    width: 50px;
    height: auto;
    display: inline-block;
    border-radius: 50%;  /* circle */
    object-fit: cover;   /* crop without distortion */
    object-position: center;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.login-button {
    height: 30px;
    border:2px solid transparent;
    border-radius:10px;
    background: linear-gradient(32deg,rgba(238, 174, 202, 0.2) 0%, rgba(148, 187, 233, 0.2) 100%);
    font-family: "Red Hat Text"
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-background {
    background-color: rgb(197, 174, 174)
}

.login {
    background: rgba(82, 82, 82, 0.5);
    border-radius: 20px;
    height: 400px;
    width: 800px;
    margin: auto;
    top: 50%;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.login-input {
    height: 70px;
    width: 200px;
    border-radius:50px;
    background-color: rgb(79, 76, 76);
    color: white;
    text-align: center;
    font-size: 20px;
}

.text-link {
    text-decoration: none;
    font-size: 70px;
    color: black;
}